<!DOCTYPE html>
<html>
  <head>
    <title>Shorten</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a style="font-style:italic; font-weight:bold;" class="nav-link active" href="/">Link Shorten</a></i>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/link_statistics">Link statistics</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/user_statistics">User statistics</a>
	  </li>	  
	</ul>

    <%= yield %>
  </body>
</html>
